<article class="creator">
  <div class="creator_content">
    <p class="creator_name">{{name}}</p>
    <div class="creator_about">
      <img src = "{{photo}}" width = "150" height = "150">
      <p>{{about}}</p>
    </div>
  </div>
</article>
