<article class="workout">
  <div class="workout-icon">
    <i class="fas fa-dumbbell"></i>
  </div>
  <div class="workout-content">
    <p class="workout-title">{{name}}</p>
    <div class="exercise">
      {{routine}}
    </div>
    <p class="workout-creator">
      <a href="#">{{creator}}</a>
    </p>
  </div>
</article>
