<main class=creator-page>
  <div class="main_top">
      <h2>Behind the Creators</h1>
    </div>
    <div class="main_body">
        <h3>Nathaniel Mohr</h3>
          <img src = "http://web.engr.oregonstate.edu/~mohrna/CS290/Assignment1/Me.JPG" width = "150" height = "150">
        <h3>Alannah Carr</h3>
          <img src ="http://i66.tinypic.com/2nroqx5.jpg" width = "150" height = "150">
        <h3>Arman Askari Zadeh</h3>
          <img src="http://web.engr.oregonstate.edu/~askariza/untitled%20folder/image.jpg" width="150" height="150">
        <h3>Samantha Mursuli</h3>
          <img src="http://web.engr.oregonstate.edu/~mursulis/me.JPG" width = "150" height = "150">
    </div>
</main>
