<main class="home-page">
  <div class="home_top">
    <h1>Why should you exercise?</h1>
    <p>
      Many people are suffering from obesity, and it is a critical issue for
      people of all ages. Obesity is prevalent in children and adults, and this
      problem usually creates many health issues. Exercise might be one of the
      solutions to avoid and solve obesity. Workouts and training (energy out)
      are some of the healthy behaviors that may help people regardles s of
      their age. Exercise and playing sports could reduce a person’s BMI, and
      may prevent and solve the obesity problem. However, people may argue that
      working outs may be hard for ov erweight people.
    </p>
  </div>

  <div class="home_bottom">
    <h1>Types of Exercises</h1>
    <h3>Strength</h3>
    <p>
      Strength trainiing is one of the most popular training that bodybuilders
      do. The goal of strength training is increasing muscle strength and
      keeping them toned. Strength exercises work to give your muscles stregth,
      size, power, and endurance. Some exercises include lifting weights or
      using resistance bands in which getting short rests between each s et is
      okay.
    </p>
    <h3>Endurance</h3>
    <p>
      Endurance is training on a group of muscle and doing as many reps as
      possible and training until tiring out. These strengthen the heart and
      lungs of which aerobic exerci se takes a part in building up endurance.
      Some possible workouts include:
    </p>
    <li>Walking</li>
    <li>Swimming</li>
    <li>Running / Jogging</li>
    <li>Rowing</li>
    <li>Aerobics of any kind</li>
    <h3>Flexibility</h3>
    <p>
      Flexibility allows for a full range of motion for muscles and joints. This
      reduces the chance of gaining injuries and includes stretching before and
      after exercise. A fe w to keep in mind include yoga, pilates, and forward
      bends.
    </p>
    <h1>Benefits of Exercise</h1>
    <li>Can make you feel happier</li>
    <li>Helps with weight loss</li>
    <li>Helps maintain a better lifestyle</li>
    <li>Can reduce the risk of other diseases</li>
    <li>Helps with brain health and memory</li>
    <li>Contributes to optimizing the cardiovascular system</li>
    <li>Stregthens muscles</li>
    <h1>Fun Facts</h1>
    <li>
      Only 10% of people succesfully lose weight through strictly dieting, in
      which a combo is 89% succesful
    </li>
    <li>25% of adults are not active at all</li>
    <li>
      Adapting to an exercise program may take 6 to 8 weeks for the body to
      adapt too
    </li>
    <li>Working with a partner promotes sticking to a fitness regime</li>
    <li>
      Music can help at unknowingly making us move faster during hard workouts
    </li>
    <li>Nobody is ever too old to take part in exercising!</li>
  </div>
</main>
