<main class=home-page>
  <div class="home_top">
      <h1>Why should you exercise? </h1>
      <p>Many people are suffering from obesity, and it is a critical issue for people of all ages. Obesity is prevalent in children and adults, and this problem usually creates many health issues. Exercise might be one of the solutions to avoid and solve obesity. Workouts and training (energy out) are some of the healthy behaviors that may help people regardless of their age. Exercise and playing sports could reduce a person’s BMI, and may prevent and solve the obesity problem. However, people may argue that working outs may be hard for overweight people.</p>
  </div>

    <div class="home_bottom">
      <h1>Types of Exercises</h1>
      <ul class="exercise-list">
        <li>
          <h2>Strength</h2>
          <p>Strength training is one of the most popular training that bodybuilders do. The goal of strength training is increasing muscle strength. Strength training is lifting as heavy as you can in one rep.</p>
        </li>
        <li>
          <h2>Endurance</h2>
          <p>Endurance is training on a group of muscle and doing as many reps as possible.</p>
        </li>
        <li>
          <h2>Power</h2>
          <p>Lifting weight with high speed. </p>
        </li>
      </ul>
    </div>
</main>
