<main class="workout-container">

  <!-- {{#each workouts}}
    {{> workoutTemplate}}
  {{/each}} -->

  <article class="workout">
    <div class="workout-icon">
      <i class="fas fa-dumbbell"></i>
    </div>


    <div class="workout-content">
      <p class="workout-title">
        Workout Title
      </p>
      <div class="exercise">
        <p class="title">
          Exercise
        </p>
        <p class="content">
          Push-ups
        </p>
      </div>
      <div class="sets">
        <p class="title">
          Sets
        </p>
        <p class="content">
          5
        </p>
      </div>
      <div class="reps">
        <p class="title">
          Reps
        </p>
        <p class="content">
          10
        </p>
      </div>
      <p class="workout-creator">
        <a href="#">WorkoutCreator</a>
      </p>
    </div>
  </article>

  <article class="workout">
    <div class="workout-icon">
      <i class="fas fa-dumbbell"></i>
    </div>
    <div class="workout-content">
      <p class="workout-title">
        Another Workout Title
      </p>
      <div class="exercise">
        <p class="title">
          Exercise
        </p>
        <p class="content">
          Sit-ups
        </p>
      </div>
      <div class="sets">
        <p class="title">
          Sets
        </p>
        <p class="content">
          2
        </p>
      </div>
      <div class="reps">
        <p class="title">
          Reps
        </p>
        <p class="content">
          15
        </p>
      </div>
      <p class="workout-creator">
        <a href="#">RoadRunner</a>
      </p>
    </div>
  </article>

  <article class="workout">
    <div class="workout-icon">
      <i class="fas fa-dumbbell"></i>
    </div>
    <div class="workout-content">
      <p class="workout-title">
        Another Workout Title
      </p>
      <div class="exercise">
        <p class="title">
          Exercise
        </p>
        <p class="content">
          Bicep curls
        </p>
      </div>
      <div class="sets">
        <p class="title">
          Sets
        </p>
        <p class="content">
          8
        </p>
      </div>
      <div class="reps">
        <p class="title">
          Reps
        </p>
        <p class="content">
          33
        </p>
      </div>
      <p class="workout-creator">
        <a href="#">AnotherCreator</a>
      </p>
    </div>
  </article>

</main>

{{> createWorkoutElements}}
